# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

interface ftdi
ftdi_device_desc "Quad RS232-HS"
ftdi_vid_pid 0x0403 0x6011
ftdi_channel 1

# words: data, direction
ftdi_layout_init 0x0058 0x005b
ftdi_layout_signal nTRST -data 0x0100
ftdi_layout_signal nSRST -data 0x0400 -oe 0x0400

#reset_config separate trst_and_srst

adapter_khz 2000

transport select jtag
