# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

interface ftdi
#ftdi_device_desc "Quad RS232-HS"
ftdi_vid_pid 0x0403 0x6011
ftdi_channel 1

# the FTDI 4232H chip that is being used does not
# have high bytes. See table FTDI AN_108, Table 2.1
# for bit definitions.
#
# The pin mapping is as follows:
#
# Bit 0: TCK
# Bit 1: TDI
# Bit 2: TDO
# Bit 3: TMS
# Bit 4: nTRST (GPIO0L)
# Bit 5: n/c   (GPIO1L)
# Bit 6: nSRST (GPIO2L)
# Bit 7: n/c   (GPIO3L)
#
# The default state is       (0x58 - 0b01011000)
# The default directions are (0x5b - 0b01011011)
#
# words: data, direction
ftdi_layout_init 0x0058 0x005b
ftdi_layout_signal nTRST -data 0x010
ftdi_layout_signal nSRST -data 0x040 -oe 0x040

reset_config separate trst_and_srst srst_nogate

adapter_khz 2000

transport select jtag
